# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

# Book Metadata
title: Your book title
author: Your name or pen name
email: your-email@domain.com
description: > # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new book here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
cover: "" # this is the cover of your book, it will appear on your homepage. It can be the path to a file or a url to an external image
start: February 12, 2020 # The date you started writing this book, it can be exact, a month and year, or just a year.
end: Still updating! # The date you finished

# Social
github:    jekyll
instagram: jekyllrb
twitter:   jekyllrb
linkedin: jekyllrb

# Site Config
baseurl: "/libretto-book" # the subpath of your site, e.g. /blog
url: "https://aspiring-writer.github.io" # the base hostname & protocol for your site

fonts:
  - base_font_family: "Libre Baskerville", Baskerville, "Book Antiqua", Georgia, Times, serif
  - 17
    first_letter:
      color: b7b1a9
      family: Playfair Display
      size: 121px
      style: normal
      weight: 700
      height: 70px
  -
    first_line:
      color: 787065
      family: Playfair Display SC
      size: 1em
      style: normal
      weight: bold
  -
    site_title:
      family: Playfair Display
      size: 32px
      weight: 300
      height: 56px
  -
    post_title:
      family: Playfair Display
      size: 42px
      height: 1
  -
    toc:
      family: Playfair Display
      size: 44px

# Don't edit anything under this line!

collections:
  chapters:
    output: true
    permalink: /chapters/:title
    
defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "chapters"
    values:
      layout: "chapter"
      
# Build settings
markdown: kramdown  
