<footer class="site-footer">

	<div class="wrapper">

		<h2 class="footer-heading">{{ site.title }} • <a href="{{ site.baseurl }}/table-of-contents">Table of Contents</a></h2>

		<div class="footer-col-wrapper">
			<div class="footer-col footer-col-1">
				<ul class="contact-list">
					<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
				</ul>
				<div class="social-media-list">
					{% if site.github %}
					<a href="https://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>
					{% endif %}
					{% if site.instagram %}
					<a href="https://instagram.com/{{ site.instagram }}"><i class="fa fa-instagram"></i></a>
					{% endif %}
					{% if site.twitter %}
					<a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a>
					{% endif %}
					{% if site.linkedin %}
					<a href="https//linkedin.com/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
					{% endif %}
				</div>
			</div>

			<div class="footer-col footer-col-5">
				<p>{{ site.description }}</p>
			</div>
		</div>

	</div>

</footer>
