article {
    background: #faf9f5;
    }

    > .entry-content {
        
        &:first-letter {
            color: #b7b1a9;
            font-family: "Playfair Display";
            font-size: 121px;
            font-style: normal;
            font-weight: 700;
            line-height: 70px;
            }
        }

        &:first-line {
            color: #787065;
            font-family: "Playfair Display SC";
            font-size: 1em;
            font-style: normal !important;
            font-weight: bold;
            letter-spacing: 2px;
        }
    }
}

.site-title {
    font-family: "Playfair Display";
    font-size: 32px;
    font-weight: 300;
    line-height: 56px;
    }
}

.post-link {
    font-family: "Playfair Display";
    font-size: 44px;
}

.post-title {
    font-family: "Playfair Display";
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

#post-nav {

    span {
        font-family: Montserrat;
        font-size: 0.75rem;
        font-style: normal;
        letter-spacing: 1px;
    }
}



/**
 * Table of Contents
 */
.table-of-contents {
    h1 {
        color: $brand-color;
        display: block;
        font-family: "Playfair Display";
        font-size: 44px;
        text-align: center;

        @include media-query($on-laptop) {
            font-size: 36px;
        }
    }

    span {
        color: $grey-color;
    }
}