.site-title {
    font-family: "Playfair Display";
    font-size: 32px;
    font-weight: 300;
    line-height: 56px;
    }
}

.post-link {
    font-family: "Playfair Display";
    font-size: 44px;
}

article {
    background: #faf9f5;
    }

    > .entry-content {
        
        &:first-letter {
            color: #b7b1a9;
            font-family: "Playfair Display";
            font-size: 121px;
            font-style: normal;
            font-weight: 700;
            line-height: 70px;
            }
        }

        &:first-line {
            color: #787065;
            font-family: "Playfair Display SC";
            font-size: 1em;
            font-style: normal !important;
            font-weight: bold;
            letter-spacing: 2px;
        }
    }
}

