article {
    background: #faf9f5;
    }

    > .entry-content {
        
        &:first-letter {
            color: #b7b1a9;
            font-family: "Playfair Display";
            font-size: 121px;
            font-style: normal;
            font-weight: 700;
            line-height: 70px;
            }
        }

        &:first-line {
            color: #787065;
            font-family: "Playfair Display SC";
            font-size: 1em;
            font-style: normal !important;
            font-weight: bold;
            letter-spacing: 2px;
        }
    }
}

.post-header {
    border-bottom: #d9d6d0;

    &:before {
        background: #faf9f5;
        border: #d9d6d0;
        box-shadow: #faf9f5;
        color: #a09a92;
        display: inline-block;
        font-family: libretto-icons;
        font-size: 21px;
        line-height: 21px;
        margin: 1rem auto 2rem;
        padding: 10px;
        text-shadow: none;
    }

    > div {
        color: $grey-color;
        font-size: $base-font-size;
        font-style: italic;

        @include media-query($on-palm) {
            font-size: $small-font-size;
        }

        &:before {
            color: #d9d6d0;
            content: "~";
            display: inline-block;
            font-family: libretto-icons;
            font-size: 24px;
            margin: 0 0.25rem;
            text-shadow: none;
            vertical-align: -6px;
        }

        &:after {
            color: #d9d6d0;
            content: "`";
            display: inline-block;
            font-family: libretto-icons;
            font-size: 24px;
            margin: 0 0.25rem;
            text-shadow: none;
            vertical-align: -6px;
        }
    }
}