---
layout: default
---

<div class="home">
	<img src="{{ site.cover }}" alt="cover">
        {{ content }}
	<ul class="post-list">
		{% for chapter in site.chapters %}
		<li>
			<article>
				<header class="post-header">
					<div>
						<span>Posted on </span><span class="post-meta">{{ chapter.date | date: "%B %-d, %Y" }}</span>
					</div>

					<h2>
						<a class="post-link" href="{{ chapter.url | prepend: site.baseurl }}">{{ chapter.title }}</a>
					</h2>
				</header>

				<div class="entry-content">
					{{ chapter.content | strip_html | truncatewords:50 }}... <a href="{{ chapter.url | prepend: site.baseurl }}">Read More</a>
				</div>
			</article>
		</li>
		{% endfor %}
	</ul>

	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
